.App {
  text-align: center;
}

.App-logo {
  width: 200px;
  height: 200px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-left: 20px;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header button {
  margin-left: 10px;
  padding: 10px;
  background-color: #61dafb;
  color: white;
  border-radius: 5px;
}

.App-body {
  background-color: #282c34;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-form {
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.Login-form input{
  padding: 10px;
  margin: 10px;
  border: solid 2px #61dafb;
  border-radius: 10px;
  background-color: #ffffff;
  width: 60%;
}

.App-text-entry input[type=text] {
  padding: 10px;
  margin: 10px;
  border: solid 2px #61dafb;
  border-radius: 10px;
  background-color: #ffffff;
  width: 400px;
}

input:focus,textarea:focus{
  outline: none;
}

.App-link {
  color: #61dafb;
}

.TextCard {
  padding: 50px;
  border: solid white 2px ;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.FinishedCard {
  padding: 50px;
  border: solid white 2px ;
  border-radius: 10px;
  background-color: rgb(112, 223, 90);
  color: black;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
